nav::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 12px;
	background-color: var(--color-secondary-alt-500);
	width: 95%;
}

@media (min-width: 768px) {
	nav::before {
		top: 20px;
	}
}
