.navbar::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 16px;
	background-color: var(--color-secondary-alt-500);
	width: 98%;
}

nav[data-status="complete"]::before {
	top: 13px;
	background-color: var(--color-secondary-400);
}

nav[data-status="complete"] .navbarProgress {
	display: none;
}

@media (min-width: 768px) {
	.navbar::before,
	nav[data-status="complete"]::before {
		top: 20px;
	}
}

.navbarProgress {
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 16px;
	background-color: var(--color-secondary-400);
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.navbarProgress {
		top: 20px;
	}
}
