.navbar::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 15px;
	background-color: var(--color-secondary-alt-500);
	width: 98%;
}

@media (min-width: 768px) {
	.navbar::before {
		top: 20px;
	}
}

.active::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 15px;
	background-color: var(--color-secondary-400);
	width: var(--step-width, 0%);
	z-index: -1;
}

@media screen and (min-width: 768px) {
	.active::before {
		top: 20px;
	}
}
