@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
		box-sizing: border-box;
	}
}

@layer base {
	:root {
		/* text */
		--base-line-height: 1.6;
		--base-font: museo-sans, sans-serif;
		/*--color-red: "red"*/

	}
}

:root {
	--spacing-auto: auto;

	/* spacing */
	--spacing-zero: 0;
	--spacing-min: 1px;
	--spacing-xxxs: 4px;
	--spacing-xxs: 8px;
	--spacing-xs: 12px;
	--spacing-sm: 16px;
	--spacing-smd: 20px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 40px;
	--spacing-xxl: 48px;
	--spacing-xxxl: 64px;
	--spacing-xxxxl: 80px;
	--spacing-xxxxxl: 120px;

	/* font sizes */
	--font-size-xxs: 10px;
	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-md: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;
	--font-size-2xl: 24px;
	--font-size-3xl: 28px;
	--font-size-4xl: 32px;
	--font-size-5xl: 40px;

	/* colors */
	--color-white: white;
	--color-black: black;
	--color-current: currentColor;
	--color-transparent: transparent;

	--color-primary-50: #ecf8ed;
	--color-primary-100: #d9f2db;
	--color-primary-200: #b3e5b6;
	--color-primary-300: #9adc9e;
	--color-primary-400: #78d17d;
	--color-primary-500: #56c55d;
	--color-primary-600: #459e4a;
	--color-primary-700: #347638;
	--color-primary-800: #1a4c1d;
	--color-primary-900: #0d260f;

	--color-primary-alt-300: #83e4ad;
	--color-primary-alt-400: #5adb92;
	--color-primary-alt-500: #31d277;
	--color-primary-alt-600: #27a85f;
	--color-primary-alt-700: #1d7e47;

	--color-secondary-300: #848793;
	--color-secondary-400: #5b5f6f;
	--color-secondary-500: #32374b;
	--color-secondary-600: #282c3c;
	--color-secondary-700: #1e212d;

	--color-error-100: #fbe8e8;
	--color-error-200: #f7d4d4;
	--color-error-300: #ea9797;
	--color-error-400: #df6363;
	--color-error-500: #d52f2f;
	--color-error-600: #a02323;
	--color-error-700: #6b1818;

	--color-warning-300: #F7E2D5;
	--color-warning-400: #E6A982;
	--color-warning-500: #D6702F;
	--color-warning-600: #B45821;
	--color-warning-700: #9A4D1B;

	--color-accent-300: #c9c9f6;
	--color-accent-400: #8b8bfc;
	--color-accent-500: #4242f7;
	--color-accent-600: #3535c6;
	--color-accent-700: #282894;

	--color-accent-alt-300: #ffd681;
	--color-accent-alt-400: #fcc44f;
	--color-accent-alt-500: #ffbb2e;
	--color-accent-alt-600: #ffae05;
	--color-accent-alt-700: #f0a100;

	--color-secondary-alt-200: #f4f5f8;
	--color-secondary-alt-300: #dfe1e9;
	--color-secondary-alt-400: #b4b8cd;
	--color-secondary-alt-500: #949ab7;
	--color-secondary-alt-600: #767b92;
	--color-secondary-alt-700: #595c6e;

	/* backdrop blur */
	--backdrop-blur-min: 0.5px;
	--backdrop-blur-xs: 2px;
	--backdrop-blur-sm: 4px;
	--backdrop-blur: 8px;
	--backdrop-blur-md: 12px;
	--backdrop-blur-lg: 16px;
	--backdrop-blur-xl: 24px;
	--backdrop-blur-2xl: 40px;
}

@theme {
	/* spacing */
	--auto: var(--spacing-auto);
	--zero: var(--spacing-zero);
	--min: var(--spacing-min);
	--xxxs: var(--spacing-xxxs);
	--xxs: var(--spacing-xxs);
	--xs: var(--spacing-xs);
	--sm: var(--spacing-sm);
	--smd: var(--spacing-smd);
	--md: var(--spacing-md);
	--lg: var(--spacing-lg);
	--xl: var(--spacing-xl);
	--xxl: var(--spacing-xxl);
	--xxxl: var(--spacing-xxxl);
	--xxxxl: var(--spacing-xxxxl);
	--xxxxxl: var(--spacing-xxxxxl);

	/* shadows */
	--shadow-size-md: 0 2px 4px 0 rgb(180 184 205 / 50%);
	--shadow-border-primary: 0 0 0 4px rgb(69 158 74 / 50%);
	--shadow-border-selected: 0 0 0 4px rgb(69 158 74 / 100%);
	--shadow-selected-shadow: 0 0 0 4px var(--color-primary-500);
	--shadow-selected-disabled: 0 0 0 2px var(--color-primary-300);
	--shadow-border-secondary: 0 0 0 4px rgb(223 225 233 / 50%);
	--shadow-border-primary-600: 0 0 0 2px var(--color-primary-600);
	--shadow-border-primary-700: 0 0 0 2px var(--color-primary-700);

	/* font sizes */
	--font-size-xxs: var(--font-size-xxs);
	--font-size-xs: var(--font-size-xs);
	--font-size-sm: var(--font-size-sm);
	--font-size-md: var(--font-size-md);
	--font-size-lg: var(--font-size-lg);
	--font-size-xl: var(--font-size-xl);
	--font-size-2xl: var(--font-size-2xl);
	--font-size-3xl: var(--font-size-3xl);
	--font-size-4xl: var(--font-size-4xl);
	--font-size-5xl: var(--font-size-5xl);

	--text-*: initial; /* reset */
	--text-xxs: var(--font-size-xxs);
	--text-xs: var(--font-size-xs);
	--text-sm: var(--font-size-sm);
	--text-md: var(--font-size-md);
	--text-lg: var(--font-size-lg);
	--text-xl: var(--font-size-xl);
	--text-2xl: var(--font-size-2xl);
	--text-3xl: var(--font-size-3xl);
	--text-4xl: var(--font-size-4xl);
	--text-5xl: var(--font-size-5xl);

	/* colors */
	--color-*: initial; /* disable base colors in TW */
	--color-white: var(--color-white);
	--color-black: var(--color-black);
	--color-current: var(--color-current);
	--color-transparent: var(--color-transparent);

	--color-primary-50: var(--color-primary-50);
	--color-primary-100: var(--color-primary-100);
	--color-primary-200: var(--color-primary-200);
	--color-primary-300: var(--color-primary-300);
	--color-primary-400: var(--color-primary-400);
	--color-primary-500: var(--color-primary-500);
	--color-primary-600: var(--color-primary-600);
	--color-primary-700: var(--color-primary-700);
	--color-primary-800: var(--color-primary-800);
	--color-primary-900: var(--color-primary-900);

	--color-primary-alt-300: var(--color-primary-alt-300);
	--color-primary-alt-400: var(--color-primary-alt-400);
	--color-primary-alt-500: var(--color-primary-alt-500);
	--color-primary-alt-600: var(--color-primary-alt-600);
	--color-primary-alt-700: var(--color-primary-alt-700);

	--color-secondary-300: var(--color-secondary-300);
	--color-secondary-400: var(--color-secondary-400);
	--color-secondary-500: var(--color-secondary-500);
	--color-secondary-600: var(--color-secondary-600);
	--color-secondary-700: var(--color-secondary-700);

	--color-error-100: var(--color-error-100);
	--color-error-200: var(--color-error-200);
	--color-error-300: var(--color-error-300);
	--color-error-400: var(--color-error-400);
	--color-error-500: var(--color-error-500);
	--color-error-600: var(--color-error-600);
	--color-error-700: var(--color-error-700);

	--color-warning-300: var(--color-warning-300);
	--color-warning-400: var(--color-warning-400);
	--color-warning-500: var(--color-warning-500);
	--color-warning-600: var(--color-warning-600);
	--color-warning-700: var(--color-warning-700);

	--color-accent-300: var(--color-accent-300);
	--color-accent-400: var(--color-accent-400);
	--color-accent-500: var(--color-accent-500);
	--color-accent-600: var(--color-accent-600);
	--color-accent-700: var(--color-accent-700);

	--color-accent-alt-300: var(--color-accent-alt-300);
	--color-accent-alt-400: var(--color-accent-alt-400);
	--color-accent-alt-500: var(--color-accent-alt-500);
	--color-accent-alt-600: var(--color-accent-alt-600);
	--color-accent-alt-700: var(--color-accent-alt-700);

	--color-secondary-alt-200: var(--color-secondary-alt-200);
	--color-secondary-alt-300: var(--color-secondary-alt-300);
	--color-secondary-alt-400: var(--color-secondary-alt-400);
	--color-secondary-alt-500: var(--color-secondary-alt-500);
	--color-secondary-alt-600: var(--color-secondary-alt-600);
	--color-secondary-alt-700: var(--color-secondary-alt-700);

	--color-accent: var(--color-accent-500);
	--color-accent-alt: var(--color-accent-alt-500);
	--color-error: var(--color-error-500);
	--color-primary: var(--color-primary-500);
	--color-primary-alt: var(--color-primary-alt-500);
	--color-secondary: var(--color-secondary-500);
	--color-secondary-alt: var(--color-secondary-alt-500);
	--color-warning: var(--color-warning-500);

	/* backdrop blur */
	--backdrop-blur-*: initial;
	--backdrop-blur-min: var(--backdrop-blur-min);
	--backdrop-blur-xs: var(--backdrop-blur-xs);
	--backdrop-blur-sm: var(--backdrop-blur-sm);
	--backdrop-blur: var(--backdrop-blur);
	--backdrop-blur-md: var(--backdrop-blur-md);
	--backdrop-blur-lg: var(--backdrop-blur-lg);
	--backdrop-blur-xl: var(--backdrop-blur-xl);
	--backdrop-blur-2xl: var(--backdrop-blur-2xl);

	/* spacing */
	--spacing-*: initial; /* reset */
	--spacing-auto: var(--spacing-auto);
	--spacing-0: var(--zero);
	--spacing-min: var(--spacing-min);
	--spacing-xxxs: var(--spacing-xxxs);
	--spacing-xxs: var(--spacing-xxs);
	--spacing-xs: var(--spacing-xs);
	--spacing-sm: var(--spacing-sm);
	--spacing-smd: var(--spacing-smd);
	--spacing-md: var(--spacing-md);
	--spacing-lg: var(--spacing-lg);
	--spacing-xl: var(--spacing-xl);
	--spacing-xxl: var(--spacing-xxl);
	--spacing-xxxl: var(--spacing-xxxl);
	--spacing-xxxxl: var(--spacing-xxxxl);
	--spacing-xxxxxl: var(--spacing-xxxxxl);

	--min-h-auto: var(--spacing-auto);
	--min-h-0: var(--spacing-zero);
	--min-h-min: var(--spacing-min);
	--min-h-xxxs: var(--spacing-xxxs);
	--min-h-xxs: var(--spacing-xxs);
	--min-h-xs: var(--spacing-xs);
	--min-h-sm: var(--spacing-sm);
	--min-h-smd: var(--spacing-smd);
	--min-h-md: var(--spacing-md);
	--min-h-lg: var(--spacing-lg);
	--min-h-xl: var(--spacing-xl);
	--min-h-xxl: var(--spacing-xxl);
	--min-h-xxxl: var(--spacing-xxxl);
	--min-h-xxxxl: var(--spacing-xxxxl);
	--min-h-xxxxxl: var(--spacing-xxxxxl);

	--max-h-auto: var(--spacing-auto);
	--max-h-0: var(--spacing-zero);
	--max-h-min: var(--spacing-min);
	--max-h-xxxs: var(--spacing-xxxs);
	--max-h-xxs: var(--spacing-xxs);
	--max-h-xs: var(--spacing-xs);
	--max-h-sm: var(--spacing-sm);
	--max-h-smd: var(--spacing-smd);
	--max-h-md: var(--spacing-md);
	--max-h-lg: var(--spacing-lg);
	--max-h-xl: var(--spacing-xl);
	--max-h-xxl: var(--spacing-xxl);
	--max-h-xxxl: var(--spacing-xxxl);
	--max-h-xxxxl: var(--spacing-xxxxl);
	--max-h-xxxxxl: var(--spacing-xxxxxl);

	--min-w-auto: var(--spacing-auto);
	--min-w-0: var(--spacing-zero);
	--min-w-min: var(--spacing-min);
	--min-w-xxxs: var(--spacing-xxxs);
	--min-w-xxs: var(--spacing-xxs);
	--min-w-xs: var(--spacing-xs);
	--min-w-sm: var(--spacing-sm);
	--min-w-smd: var(--spacing-smd);
	--min-w-md: var(--spacing-md);
	--min-w-lg: var(--spacing-lg);
	--min-w-xl: var(--spacing-xl);
	--min-w-xxl: var(--spacing-xxl);
	--min-w-xxxl: var(--spacing-xxxl);
	--min-w-xxxxl: var(--spacing-xxxxl);
	--min-w-xxxxxl: var(--spacing-xxxxxl);

	--max-w-auto: var(--spacing-auto);
	--max-w-0: var(--spacing-zero);
	--max-w-min: var(--spacing-min);
	--max-w-xxxs: var(--spacing-xxxs);
	--max-w-xxs: var(--spacing-xxs);
	--max-w-xs: var(--spacing-xs);
	--max-w-sm: var(--spacing-sm);
	--max-w-smd: var(--spacing-smd);
	--max-w-md: var(--spacing-md);
	--max-w-lg: var(--spacing-lg);
	--max-w-xl: var(--spacing-xl);
	--max-w-xxl: var(--spacing-xxl);
	--max-w-xxxl: var(--spacing-xxxl);
	--max-w-xxxxl: var(--spacing-xxxxl);
	--max-w-xxxxxl: var(--spacing-xxxxxl);

	--border-radius-xxs: var(--spacing-xxs);
}
