.UiRadio__custom {
	transition: all ease-in-out 0.15s;
}

input:checked:disabled + .UiRadio__custom {
	border: 2px solid var(--color-secondary-alt-300);
	background-color: var(--color-secondary-300);
}
